
<div class="dashboard">
  <%= render 'shared/slider.html.erb' %>
  <div class='container information'>
    <div class="row mt-5">
      <% @items.each do |item| %>
        <div class="col text-center">
          <%= link_to item, item, class:"text-light" %>
        </div>
      <% end %>
    </div> 
  </div>
  <div class="container">
  </div>
</div>
