//Colors
$razzma: #EC145A;
$plum: #862364;
$tundora: #4A4A4A;
$mine: #222222;
$black: #000000;
$alabaster: #FAFAFA;
$gray: #929292;

//Fonts
$primary-font-size: 32px;
$secondary-font-size: 24px;
$third-font-size: 16px;

$primary-icon-size: 20px;
$secondary-icon-size: 15px;

$border-radius: 6px;
