/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import '../../../node_modules/@glidejs/glide/src/assets/sass/glide.core';
 @import '../../../node_modules/@glidejs/glide/src/assets/sass/glide.theme';
 @import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
 
 @import 'utils/variables';
 @import 'components/buttons';
 @import 'components/inputs';

body {
  font-family: 'Barlow', sans-serif;
}

.button-subscribe {
  background: rgba(249, 249, 249, 0.192);
  color: white;
  margin: 5px;
}

.footer {
  width: 100%;
  font-size: 14px;
  position: absolute;

  .footer-columns {
    display: table-footer-group !important;
  
    li {
      list-style: none;
    }
  }
}

.dashboard {
  padding-top: 10rem !important;
  background: $plum;

  .information {
    min-height: 350px;
  }
}

.custom-container {
  margin-top: 8rem;
  min-height: 26rem;
  margin-bottom: 1rem;
  &.next {
    margin-top: 0;
  }
}

.flash-container {
  margin-top: 4rem;
}

.top-information {
  padding-top: 5rem;
}

.header {
	height: 80px;
	background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
}
